@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#container {
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.notification {
  background-color: purple;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
}
